<div layout="row" layout-wrap>
  <div flex="30" hide-xs></div>
  <div flex>
    <h1>Login</h1>

    <form name="form" ng-submit="vm.login(form)" novalidate>

      <md-input-container class="md-block">
        <label>Email</label>
        <input type="email" name="email" ng-model="vm.user.email" required>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Password</label>
        <input type="password" name="password" ng-model="vm.user.password" required>
      </md-input-container>

      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-raised md-primary" ng-disabled="!form.$valid">Login</md-button>
        <md-button ui-sref="signup" class="md-raised">Register</md-button>
      </section>
    </form>

  </div>
  <div flex="30" hide-xs></div>
</div>
