<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span>Voting app</span>
        </h2>
        <span flex></span>
        <md-button ui-sref="{{ item.state }}" aria-label="{{ item.title }}" ng-repeat="item in nav.menu">{{ item.title }}</md-button>
        <md-button ui-sref="polls/create" ng-show="nav.isLoggedIn()">Create poll</md-button>
        <md-button ui-sref="signup" ng-hide="nav.isLoggedIn()">Sign up</md-button>
        <md-button ui-sref="login" ng-hide="nav.isLoggedIn()">Login</md-button>
        <md-button ui-sref="profile" ng-show="nav.isLoggedIn()">Hello {{ nav.getCurrentUser().name }}</md-button>
        <md-button ui-sref="settings" ng-show="nav.isLoggedIn()">Settings</md-button>
        <md-button ui-sref="logout" ng-show="nav.isLoggedIn()">Logout</md-button>
    </div>
</md-toolbar>