<div ng-hide="main.hasLoaded" layout="row" layout-sm="column" layout-align="space-around">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<div ng-show="main.hasLoaded" flex flex-gt-xs="80" flex-offset-gt-xs="10" layout-padding>
  <h2 class="md-title">Voting app</h2>
  <p class="lead">Create and participate to votings</p>

  <md-list>
    <md-subheader class="md-no-sticky">Last Polls:</md-subheader>
    <md-list-item ng-click="navigateTo(setting.extraScreen, $event)" ng-repeat="poll in main.polls" ui-sref="polls/poll({id: poll._id})">
      <!--<md-icon md-svg-icon="{{ icon}}"></md-icon>-->
      <p> {{ poll.question }} </p>
    </md-list-item>
  </md-list>
</div>
